<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userService" class="com.example.service.impl.UserServiceImpl" init-method="init" destroy-method="destroy">
        <property name="userDao" ref="userDao"></property>
    </bean>

    <bean id="userServiceInit" class="com.example.service.impl.UserServiceInitImpl" init-method="init" destroy-method="destroy">
        <property name="userDao" ref="userDao"></property>
    </bean>

    <bean id="userServiceArgs" class="com.example.service.impl.UserServiceArgsImpl" init-method="init" destroy-method="destroy">
        <constructor-arg name="name" value="xj"/>
        <property name="userDao" ref="userDao"></property>
    </bean>

    <bean id="userDaoFactory" class="com.example.factory.InstanceMethodFactory" ></bean>
    <bean id="userDao" factory-bean="userDaoFactory" factory-method="userDao" />

</beans>